.projects {
  padding: 2rem;
  background-color: $hero-title;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.item {
  position: relative;
  flex: 1 1 25rem;
  height: 25rem;

  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem $black20;
  overflow: hidden;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 85%;
  left: 0;

  background: $white90;
}

.content:hover,
.content:focus {
  top: 25%;
}

.tag {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding-left: 1rem;

  
  background: $yellow;

  h3 {
font-size: 22px;
  }
}

.desc {
  margin: 2rem;
}

.btnWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn {
  display: flex;
  gap: 10px;
  margin-right: 2rem;
  padding: 1.5rem 2.5rem;
  align-items: center;

  font-size: 1.5rem;
  line-height: 0;

  color: $white;
  border-radius: 0.5rem;
  background: $black;

  svg {
    fill: $white;
  }
}
