@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.education {
  min-height: 50vh;
  padding: 2rem 9%;
  background-color: $gray;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;

  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem $black20;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
  background: $white;

  @media screen and (min-width: 965px) {
flex-direction: row;
  }

}

.item:hover,
.item:focus {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem $black30;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 965px) {
      flex: 1 1 20rem;
    }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: 965px) {
      flex: 1 1 70rem;
    }
}

.course {
  font-size: 24px;
  color: $hero-title;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;

  @media screen and (min-width: 965px) {
      font-size: 32px;
    }
}

.school {
  font-size: 18px;
  margin-left: 1rem;
  text-align: left;

  @media screen and (min-width: 965px) {
    font-size: 24px;
  }
}

.year {
  font-size: 20px;
  color: $green;
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;

  @media screen and (min-width: 965px) {
    font-size: 28px;
  }
}
