.socials {
  margin-top: 9rem;
}

.list {
  display: flex;
  gap: 15px;
}

.linkSocial {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $text-color;
  transition: $transition;

  svg {
    display: flex;
    width: 25px;
    height: 25px;

    fill: $socials;
    transition: $transition;
  }
}

.linkedIn:hover,
.linkedIn:focus {
  background-color: #007bb6;

  svg {
    fill: $white;
  }
}

.gitHub:hover,
.gitHub:focus {
  background-color: #0e0e0e;

  svg {
    fill: $white;
  }
}

.telegram:hover, .telegram:focus {
  background-color: #0685da;

  svg {
          fill: $white;
        }
}

.mail:hover,
.mail:focus {
  background-color: #0e0e0e;

  svg {
    fill: $white;
  }
}
