$shadow: rgba(146, 161, 176, 0.3);
$text-color: #0E2431;
$prime: #155679;
$hover: #628c9e;
$white: #fff;
$yellow: #d6af39;
$yellow60: rgba(214, 175, 57, 0.6);
$hero-title: #0f3c55;
$btn: #2548b3;
$btn60: rgba(37, 72, 179, 0.6);
$btn-hover: #1d398e;
$socials: #00d9ff;
$red: rgb(148, 8, 8);
$bcg-skills: rgba(0, 0, 22, 0.9);
$black20:rgba(0, 0, 0, 0.2);
$black30: rgba(0, 0, 0, 0.3);
$black50: rgba(0, 0, 0, 0.5);
$black90: rgba(0, 0, 0, 0.9);
$purple: rgb(115, 3, 167);

$transition: all 0.3s ease-in-out;