.skills {
  padding: 2rem 9%;
  background-color: $prime;
}

.wrap {
  margin-top: 30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    gap: 28px;

    @media screen and (min-width: 700px) and (max-width: 964px) {
        grid-template-columns: repeat(3, 1fr);
      }

  @media screen and (min-width: 965px) {
      grid-template-columns: repeat(4, 1fr);
    }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  color: $white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px $black20;
  background: $bcg-skills;
  cursor: default;

  transition: 0.2s;

  @media screen and (min-width: 965px) {
    font-size: 20px;
      padding: 30px;
    }
}

.item:hover,
.item:focus {
  box-shadow: 0 8px 10px $black50;
  background-color: $black90;
}

.logoSkills {
  width: 32px;
  height: 32px;

  @media screen and (min-width: 965px) {
      width: 48px;
        height: 48px;
    }
}