.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  padding: 1.7rem 10%;
  height: 6.5rem;

  align-items: center;
  justify-content: space-between;

  background-color: $white;
  box-shadow: 0 1px 4px $shadow;
}

.logo {
  fill: $prime;
}

.navbar ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.item {
  cursor: pointer;
}

.link {
  padding: 15px 0;
  font-weight: 600;
  letter-spacing: 0.04rem;
  color: $text-color;
}

.link:active,
.link:hover,
.link:focus {
  color: $prime;
  border-bottom: 0.2rem solid $hover;
  padding: 15px 0;
}

.mobileContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuBtn {
    display: flex;
    padding: 0;
    align-items: center;
    transition: $transition;
  }
}

.mobileBox {
  position: absolute;
  top: 104px;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding: 20px;
  background-color: $prime;
}

.mobileList {
  position: absolute;
  transform: translate(50%, 0);
  font-weight: 600;
  font-size: 20px;
  color: $white;

  a {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
  }
}
